<a href="https://colab.research.google.com/github/Viktory4121/MME/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext rpy2.ipython

#Пункт 1

In [2]:
%%R
library(datasets)
data <- airquality
head(data)

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2
3    12     149 12.6   74     5   3
4    18     313 11.5   62     5   4
5    NA      NA 14.3   56     5   5
6    28      NA 14.9   66     5   6

#Пункт 2

In [3]:
%%R
print(nrow(data)) #количество строк
print(ncol(data)) #количество столбцов

[1] 153
[1] 6

In [15]:
%%R
#количество непустых строк
#sum(is.na(data)) - считает все ненулевые элементы в таблице, а не строки
nrow(na.omit(data))

[1] 111

In [ ]:
%%R
#то же самое, что и код выше
search_non_NA_rows <- function(data) {
    sum_col <- nrow(data)     #сумма строк, не имеющих нулевые значения
    for (i in 1: nrow(data)) {
        if(min(data[i,]) %in% NA) {
            sum_col <- sum_col - 1
        }
    }
    return(sum_col)
}
print("Количество непустых строк:")
search_non_NA_rows(data)

[1] "Количество непустых строк:"
[1] 111

In [21]:
%%R
#количество строк, имеющих пропусти одновременно в столбцах Ozone и Solar.R
nrow(data[data$Ozone %in% NA & data$Solar.R %in% NA,1:2])

[1] 2

In [ ]:
%%R
#то же самое, что и код выше
data1 = cbind(data$Ozone, data$Solar.R)
sum_2col = 0
for (i in 1:nrow(data)){
    if(min(data$Ozone[i] %in% NA & min(data$Solar.R[i] %in% NA))){
        sum_2col = sum_2col + 1
    }
}
print("Количество непустых строк в столбцах Ozone и Solar.R одновременно:")
print(sum_2col)

[1] "Количество непустых строк в столбцах Ozone и Solar.R одновременно:"
[1] 2

In [22]:
%%R
summary(data[,1:4])

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7

In [24]:
%%R
mean(data[data$Month == 5, "Solar.R"], na.rm=TRUE)

[1] 181.2963

#Пункт 3

In [27]:
%%R
tmin <- 60
tmax <- 80
meanAir <- function(factor, data, tMin, tMax){
    index = which(colnames(data) == factor)
    return (mean(data[data$Temp >= tMin & data$Temp <= tMax, index], na.rm=TRUE))
}

print(meanAir("Ozone", data, tmin, tmax))
print(meanAir("Solar.R", data, tmin, tmax))
print(meanAir("Wind", data, tmin, tmax))

[1] 23.77586
[1] 173.9733
[1] 10.81299

#Пункт 4

In [30]:
%%R
tapply(data$Solar.R, data$Month, mean, na.rm=TRUE)

       5        6        7        8        9
181.2963 190.1667 216.4839 171.8571 167.4333

#Пункт 5

In [68]:
%%R
maxTemp <- function(data, days = 1){
    month = list()
    day = list()
    temp = list()
    df = data

    for (i in 1:days){
        index <- which(df$Temp == max(df$Temp))
        day <- c(day, df[index, "Day"])
        month <- c(month, df[index, "Month"])
        temp <- c(temp, df[index, "Temp"])

        df <- df[-c(index),] #удаление строки с индексом
    }
    
    return(cbind(month, day, temp))
}
maxTemp(data,5)

      month day temp
 [1,] 8     28  97
 [2,] 8     30  96
 [3,] 8     29  94
 [4,] 8     31  94
 [5,] 6     11  93
 [6,] 9     3   93
 [7,] 9     4   93
 [8,] 6     12  92
 [9,] 7     8   92
[10,] 7     9   92
[11,] 8     10  92
[12,] 9     2   92

#Пункт 6

In [90]:
%%R
testSet <- function(data, perc = 20){
    try(if(perc > 100 | perc < 0) stop("variable 'perc' goes beyond the range [0;100]"))

    sum_row <- nrow(data) - round(nrow(data) * perc/100.0) #количество строк, которые следует случайно удалить
    df <- data
    index <- sample(1:nrow(df), sum_row, replace=F)
    df <- df[-c(index),] #удаление строк с указанными индексами
    return(df)
}

testSet(data)

    Ozone Solar.R Wind Temp Month Day
6      28      NA 14.9   66     5   6
16     14     334 11.5   64     5  16
24     32      92 12.0   61     5  24
28     23      13 12.0   67     5  28
31     37     279  7.4   76     5  31
35     NA     186  9.2   84     6   4
41     39     323 11.5   87     6  10
43     NA     250  9.2   92     6  12
44     23     148  8.0   82     6  13
46     NA     322 11.5   79     6  15
47     21     191 14.9   77     6  16
61     NA     138  8.0   83     6  30
66     64     175  4.6   83     7   5
74     27     175 14.9   81     7  13
78     35     274 10.3   82     7  17
83     NA     258  9.7   81     7  22
84     NA     295 11.5   82     7  23
85     80     294  8.6   86     7  24
88     52      82 12.0   86     7  27
95     16      77  7.4   82     8   3
103    NA     137 11.5   86     8  11
105    28     273 11.5   82     8  13
111    31     244 10.9   78     8  19
116    45     212  9.7   79     8  24
117   168     238  3.4   81     8  25
118    73     215  8.0   86     8  26
121   118     225  2.3   94     8  29
135    21     259 15.5   76     9  12
138    13     112 11.5   71     9  15
146    36     139 10.3   81     9  23
152    18     131  8.0   76     9  29