<a href="https://colab.research.google.com/github/Viktory4121/MME/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext rpy2.ipython

#Пункт 1

In [2]:
%%R
library(datasets)
data <- airquality
head(data)

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2
3    12     149 12.6   74     5   3
4    18     313 11.5   62     5   4
5    NA      NA 14.3   56     5   5
6    28      NA 14.9   66     5   6

#Пункт 2

In [3]:
%%R
print("Кол-во строк:")
print(nrow(data))
print("Кол-во столбцов:")
print(ncol(data))

[1] "Кол-во строк:"
[1] 153
[1] "Кол-во столбцов:"
[1] 6

In [4]:
%%R
print("Kоличество непустых строк:")
nrow(na.omit(data))

[1] "Kоличество непустых строк:"
[1] 111

In [6]:
%%R
print("Kоличество строк, имеющих пропусkи одновременно в столбцах Ozone и Solar.R:")
nrow(data[data$Ozone %in% NA & data$Solar.R %in% NA,1:2])

[1] "Kоличество строк, имеющих пропусkи одновременно в столбцах Ozone и Solar.R:"
[1] 2

In [7]:
%%R
print("Статистика по первым четырём столбцам:")
summary(data[,1:4])

[1] "Статистика по первым четырём столбцам:"
     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7

In [8]:
%%R
print("Среднее значение столбца 'Solar.R' для 5го месяца:")
mean(data[data$Month == 5, "Solar.R"], na.rm=TRUE)

[1] "Среднее значение столбца 'Solar.R' для 5го месяца:"
[1] 181.2963

#Пункт 3

In [9]:
%%R
meanAir <- function(factor, data, tMin, tMax){
    return (mean(data[data$Temp >= tMin & data$Temp <= tMax, factor], na.rm=TRUE))
}

print("Среднее значение по фактору 'Ozone' при температуре от 60 до 80:")
print(meanAir("Ozone", data, 60, 80))
print("Среднее значение по фактору 'Solar.R' при температуре от 60 до 80:")
print(meanAir("Solar.R", data, 60, 80))
print("Среднее значение по фактору 'Wind' при температуре от 60 до 80:")
print(meanAir("Wind", data, 60, 80))

[1] "Среднее значение по фактору 'Ozone' при температуре от 60 до 80:"
[1] 23.77586
[1] "Среднее значение по фактору 'Solar.R' при температуре от 60 до 80:"
[1] 173.9733
[1] "Среднее значение по фактору 'Wind' при температуре от 60 до 80:"
[1] 10.81299

#Пункт 4

In [10]:
%%R
print("Средние значения по 'Solar.R' для каждого месяца:")
tapply(data$Solar.R, data$Month, mean, na.rm=TRUE)

[1] "Средние значения по 'Solar.R' для каждого месяца:"
       5        6        7        8        9
181.2963 190.1667 216.4839 171.8571 167.4333

#Пункт 5

In [19]:
%%R
maxTemp <- function(data, days = 1){
    df <- data
    df <- df[order(df$Temp, na.last = TRUE, decreasing = TRUE),]
    
    return(df[1:days,5:6])
}
print("Указанного кол-ва пары месяц/день, когда была максимальная температура:")
maxTemp(data, 5)

[1] "Указанного кол-ва пары месяц/день, когда была максимальная температура:"
    Month Day
120     8  28
122     8  30
121     8  29
123     8  31
42      6  11

#Пункт 6

In [ ]:
%%R
testSet <- function(data, perc = 20){
    try(if(perc > 100 | perc < 0) stop("variable 'perc' goes beyond the range [0;100]"))

    #количество строк, которые следует случайно удалить:
    sum_row <- nrow(data) - round(nrow(data) * perc/100.0) 
    df <- data

    #генерация индексов строк, которые будут удалены:
    index <- sample(1:nrow(df), sum_row, replace=F) 
    
    #удаление строк с указанными индексами:
    df <- df[-c(index),] 
    return(df)
}
print("Тестовая выборка:")
testSet(data)

[1] "Тестовая выборка:"
    Ozone Solar.R Wind Temp Month Day
2      36     118  8.0   72     5   2
8      19      99 13.8   59     5   8
14     14     274 10.9   68     5  14
15     18      65 13.2   58     5  15
16     14     334 11.5   64     5  16
19     30     322 11.5   68     5  19
25     NA      66 16.6   57     5  25
33     NA     287  9.7   74     6   2
37     NA     264 14.3   79     6   6
43     NA     250  9.2   92     6  12
49     20      37  9.2   65     6  18
56     NA     135  8.0   75     6  25
58     NA      47 10.3   73     6  27
66     64     175  4.6   83     7   5
67     40     314 10.9   83     7   6
74     27     175 14.9   81     7  13
75     NA     291 14.9   91     7  14
76      7      48 14.3   80     7  15
78     35     274 10.3   82     7  17
93     39      83  6.9   81     8   1
100    89     229 10.3   90     8   8
103    NA     137 11.5   86     8  11
106    65     157  9.7   80     8  14
110    23     115  7.4   76     8  18
113    21     259 15.5   77     8  21
114     9      36 14.3   72     8  22
116    45     212  9.7   79     8  24
119    NA     153  5.7   88     8  27
124    96     167  6.9   91     9   1
134    44     236 14.9   81     9  11
135    21     259 15.5   76     9  12