<a href="https://colab.research.google.com/github/Viktory4121/MME/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext rpy2.ipython

#Пункт 1

In [2]:
%%R
library(datasets)
data <- iris
head(data)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

#Пункт 2

In [3]:
%%R
#деление на тестовую и обучающую выборку
index <- sample(1:nrow(data), nrow(data) * 0.8) 
test <- data[-c(index), ]
train <- data[index, ]

In [7]:
%%R
#install.packages('dplyr')
library(dplyr)

In [21]:
%%R
print("Кол-во строк в тестовой выборке:")
print(nrow(test))
print("Кол-во столбцов в тестовой выборке:")
print(ncol(test))
print("Кол-во объектов в каждом классе тестовой выборки:")
print(test %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(test$Species))
print("Кол-во пропущенных значений в тестовой выборке:")
print(sum(test == NA))
print("Характеристика тестовой выборки:")
print(summary(test[,1:4], na.rm=TRUE))

[1] "Кол-во строк в тестовой выборке:"
[1] 30
[1] "Кол-во столбцов в тестовой выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе тестовой выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa         7
2 versicolor     7
3 virginica     16
[1] "или"
    setosa versicolor  virginica
         7          7         16
[1] "Кол-во пропущенных значений в тестовой выборке:"
[1] NA
[1] ""
  Sepal.Length    Sepal.Width   Petal.Length   Petal.Width
 Min.   :4.600   Min.   :2.2   Min.   :1.30   Min.   :0.100
 1st Qu.:5.250   1st Qu.:2.7   1st Qu.:3.90   1st Qu.:1.225
 Median :5.900   Median :3.0   Median :4.85   Median :1.700
 Mean   :5.927   Mean   :3.0   Mean   :4.24   Mean   :1.470
 3rd Qu.:6.375   3rd Qu.:3.2   3rd Qu.:5.25   3rd Qu.:2.000
 Max.   :7.900   Max.   :3.8   Max.   :6.90   Max.   :2.500

In [28]:
%%R
print("Кол-во строк в обучающей выборке:")
print(nrow(train))
print("Кол-во столбцов в обучающей выборке:")
print(ncol(train))
print("Кол-во объектов в каждом классе обучающей выборки:")
print(train %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(train$Species))
print("Кол-во пропущенных значений в обучающей выборке:")
print(sum(train == 'NA'))
print("Характеристика обучающей выборки:")
print(summary(train[,1:4], na.rm=TRUE))

[1] "Кол-во строк в обучающей выборке:"
[1] 120
[1] "Кол-во столбцов в обучающей выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе обучающей выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa        43
2 versicolor    43
3 virginica     34
[1] "или"
    setosa versicolor  virginica
        43         43         34
[1] "Кол-во пропущенных значений в обучающей выборке:"
[1] 0
[1] "Характеристика обучающей выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.500   1st Qu.:0.200
 Median :5.700   Median :3.000   Median :4.200   Median :1.300
 Mean   :5.822   Mean   :3.072   Mean   :3.638   Mean   :1.132
 3rd Qu.:6.400   3rd Qu.:3.400   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.700   Max.   :4.400   Max.   :6.700   Max.   :2.500

#Пункт 3

In [38]:
%%R
#install.packages('e1071')
#install.packages('caret')
library(e1071)
library(caret)

In [51]:
%%R
model <- naiveBayes(Species ~ ., data = train)
model

Naive Bayes Classifier for Discrete Predictors

Call:
naiveBayes.default(x = X, y = Y, laplace = laplace)

A-priori probabilities:
Y
    setosa versicolor  virginica
 0.3583333  0.3583333  0.2833333

Conditional probabilities:
            Sepal.Length
Y                [,1]      [,2]
  setosa     5.018605 0.3743285
  versicolor 5.955814 0.5229506
  virginica  6.670588 0.6072938

            Sepal.Width
Y                [,1]      [,2]
  setosa     3.434884 0.4017128
  versicolor 2.769767 0.3327625
  virginica  2.994118 0.3014522

            Petal.Length
Y                [,1]      [,2]
  setosa     1.460465 0.1827561
  versicolor 4.248837 0.4782767
  virginica  5.617647 0.5184304

            Petal.Width
Y                 [,1]       [,2]
  setosa     0.2395349 0.09034203
  versicolor 1.3186047 0.20616200
  virginica  2.0235294 0.28821165

#Пункт 4

In [52]:
%%R
pr_train <- predict(model, train)
tab_train <- table(predict(model, train), train$Species)
print(pr_train)
print(tab_train)

  [1] virginica  versicolor versicolor virginica  virginica  versicolor
  [7] setosa     setosa     versicolor versicolor versicolor setosa
 [13] virginica  virginica  setosa     versicolor versicolor versicolor
 [19] setosa     setosa     versicolor setosa     virginica  virginica
 [25] virginica  virginica  setosa     setosa     virginica  virginica
 [31] versicolor versicolor versicolor versicolor versicolor versicolor
 [37] versicolor virginica  setosa     virginica  setosa     versicolor
 [43] virginica  setosa     virginica  virginica  setosa     virginica
 [49] virginica  versicolor versicolor setosa     setosa     setosa
 [55] virginica  virginica  setosa     versicolor versicolor virginica
 [61] versicolor versicolor versicolor setosa     setosa     setosa
 [67] virginica  versicolor setosa     setosa     setosa     setosa
 [73] versicolor versicolor versicolor setosa     virginica  virginica
 [79] virginica  versicolor setosa     versicolor versicolor setosa
 [85] setosa     setosa     setosa     setosa     versicolor virginica
 [91] setosa     virginica  setosa     versicolor versicolor setosa
 [97] virginica  versicolor setosa     setosa     setosa     virginica
[103] setosa     versicolor virginica  setosa     versicolor virginica
[109] versicolor versicolor virginica  setosa     versicolor versicolor
[115] setosa     versicolor virginica  setosa     versicolor setosa
Levels: setosa versicolor virginica

             setosa versicolor virginica
  setosa         43          0         0
  versicolor      0         41         3
  virginica       0          2        31

In [53]:
%%R
pr_test <- predict(model, test)
tab_test <- table(predict(model, test), test$Species)
print(pr_test)
print(tab_test)

 [1] setosa     setosa     setosa     setosa     setosa     setosa
 [7] setosa     versicolor versicolor versicolor versicolor versicolor
[13] versicolor versicolor virginica  virginica  virginica  virginica
[19] virginica  virginica  virginica  versicolor virginica  virginica
[25] virginica  virginica  virginica  virginica  virginica  virginica
Levels: setosa versicolor virginica

             setosa versicolor virginica
  setosa          7          0         0
  versicolor      0          7         1
  virginica       0          0        15

In [ ]:
%%R