<a href="https://colab.research.google.com/github/Viktory4121/MME/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [1]:
library(datasets)
data <- iris
head(data)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#2

In [2]:
index <- sample(1:nrow(data), nrow(data) * 0.8) 
test <- data[-c(index), ]
train <- data[index, ]

In [3]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
print("Кол-во строк в тестовой выборке:")
print(nrow(test))
print("Кол-во столбцов в тестовой выборке:")
print(ncol(test))
print("Кол-во объектов в каждом классе тестовой выборки:")
print(test %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(test$Species))
print("Кол-во пропущенных значений в тестовой выборке:")
print(sum(test == NA))
print("Характеристика тестовой выборки:")
print(summary(test[,1:4], na.rm=TRUE))

[1] "Кол-во строк в тестовой выборке:"
[1] 30
[1] "Кол-во столбцов в тестовой выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе тестовой выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa         9
2 versicolor     7
3 virginica     14
[1] "или"
    setosa versicolor  virginica
         9          7         14
[1] "Кол-во пропущенных значений в тестовой выборке:"
[1] NA
[1] "Характеристика тестовой выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.400   Min.   :2.500   Min.   :1.300   Min.   :0.100
 1st Qu.:5.425   1st Qu.:2.800   1st Qu.:1.675   1st Qu.:0.200
 Median :5.950   Median :3.000   Median :4.800   Median :1.550
 Mean   :5.980   Mean   :3.067   Mean   :4.097   Mean   :1.347
 3rd Qu.:6.625   3rd Qu.:3.275   3rd Qu.:5.550   3rd Qu.:2.050
 Max.   :7.700   Max.   :3.800   Max.   :6.700   Max.   :2.500

In [5]:
print("Кол-во строк в обучающей выборке:")
print(nrow(train))
print("Кол-во столбцов в обучающей выборке:")
print(ncol(train))
print("Кол-во объектов в каждом классе обучающей выборки:")
print(train %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(train$Species))
print("Кол-во пропущенных значений в обучающей выборке:")
print(sum(train == NA))
print("Характеристика обучающей выборки:")
print(summary(train[,1:4], na.rm=TRUE))

[1] "Кол-во строк в обучающей выборке:"
[1] 120
[1] "Кол-во столбцов в обучающей выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе обучающей выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa        41
2 versicolor    43
3 virginica     36
[1] "или"
    setosa versicolor  virginica
        41         43         36
[1] "Кол-во пропущенных значений в обучающей выборке:"
[1] NA
[1] "Характеристика обучающей выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.500   1st Qu.:0.300
 Median :5.700   Median :3.000   Median :4.200   Median :1.300
 Mean   :5.809   Mean   :3.055   Mean   :3.673   Mean   :1.163
 3rd Qu.:6.400   3rd Qu.:3.400   3rd Qu.:5.000   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500

#3

In [7]:
#install.packages("e1071")
#install.packages("caret")
library(e1071)
library(caret)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘proxy’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘listenv’, ‘parallelly’, ‘future’, ‘globals’, ‘future.apply’, ‘numDeriv’, ‘progressr’, ‘SQUAREM’, ‘lava’, ‘prodlim’, ‘iterators’, ‘Rcpp’, ‘gower’, ‘hardhat’, ‘ipred’, ‘timeDate’, ‘foreach’, ‘ModelMetrics’, ‘plyr’, ‘pROC’, ‘recipes’, ‘reshape2’


Loading required package: ggplot2

Loading required package: lattice

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

In [8]:
model <- naiveBayes(Species ~ ., data = train)
model

Naive Bayes Classifier for Discrete Predictors

Call:
naiveBayes.default(x = X, y = Y, laplace = laplace)

A-priori probabilities:
Y
    setosa versicolor  virginica
 0.3416667  0.3583333  0.3000000

Conditional probabilities:
            Sepal.Length
Y                [,1]      [,2]
  setosa     5.026829 0.3556855
  versicolor 5.916279 0.5300181
  virginica  6.572222 0.6345352

            Sepal.Width
Y                [,1]      [,2]
  setosa     3.458537 0.3955854
  versicolor 2.739535 0.3222980
  virginica  2.972222 0.3185782

            Petal.Length
Y                [,1]      [,2]
  setosa     1.453659 0.1718976
  versicolor 4.234884 0.4715141
  virginica  5.530556 0.5691193

            Petal.Width
Y                 [,1]      [,2]
  setosa     0.2634146 0.1066679
  versicolor 1.3162791 0.1999169
  virginica  2.0027778 0.2667113

#4

In [44]:
pr_train <- predict(model, train)
tab_train <- table(predict(model, train), train$Species)
print(pr_train)
print(tab_train)

  [1] versicolor versicolor setosa     setosa     setosa     setosa
  [7] versicolor versicolor virginica  versicolor setosa     versicolor
 [13] virginica  virginica  setosa     setosa     versicolor versicolor
 [19] setosa     virginica  virginica  versicolor setosa     versicolor
 [25] setosa     virginica  versicolor virginica  setosa     virginica
 [31] setosa     setosa     virginica  virginica  versicolor virginica
 [37] versicolor virginica  setosa     virginica  setosa     virginica
 [43] versicolor versicolor setosa     setosa     setosa     virginica
 [49] virginica  setosa     virginica  versicolor virginica  setosa
 [55] virginica  versicolor versicolor setosa     setosa     versicolor
 [61] setosa     versicolor versicolor versicolor virginica  setosa
 [67] versicolor setosa     versicolor virginica  versicolor setosa
 [73] setosa     setosa     setosa     versicolor setosa     setosa
 [79] virginica  setosa     virginica  versicolor setosa     versicolor
 [85] versicolor versicolor virginica  virginica  versicolor virginica
 [91] setosa     virginica  versicolor virginica  setosa     versicolor
 [97] versicolor virginica  versicolor setosa     virginica  virginica
[103] versicolor versicolor virginica  setosa     setosa     virginica
[109] versicolor versicolor versicolor virginica  versicolor versicolor
[115] setosa     virginica  versicolor setosa     setosa     virginica
Levels: setosa versicolor virginica

             setosa versicolor virginica
  setosa         41          0         0
  versicolor      0         41         2
  virginica       0          2        34

In [45]:
pr_test <- predict(model, test)
tab_test <- table(predict(model, test), test$Species)
print(pr_test)
print(tab_test)

 [1] setosa     setosa     setosa     setosa     setosa     setosa
 [7] setosa     setosa     setosa     versicolor versicolor versicolor
[13] versicolor versicolor virginica  versicolor virginica  virginica
[19] virginica  virginica  virginica  virginica  virginica  virginica
[25] versicolor virginica  virginica  virginica  virginica  virginica
Levels: setosa versicolor virginica

             setosa versicolor virginica
  setosa          9          0         0
  versicolor      0          6         1
  virginica       0          1        13

In [53]:
confusionMatrix(train$Species, pr_train)

Warning message in Ops.factor(predictedScores, threshold):
“‘<’ not meaningful for factors”

     setosa versicolor virginica

In [48]:
sensitivity(train$Species, pr_train)

Warning message in Ops.factor(predictedScores, threshold):
“‘<’ not meaningful for factors”

[1] NaN

In [49]:
specificity(train$Species, pr_train)

Warning message in Ops.factor(predictedScores, threshold):
“‘<’ not meaningful for factors”

[1] 0

In [54]:
#misClassError(train$Species, pr_train, threshold=optimal)

In [59]:
control <- trainControl(method="cv", number=5)
set.seed(7)
fit <- train(Species~., data=train, method="lm", metric="RMSE", trControl=control)

ERROR: ignored