<a href="https://colab.research.google.com/github/Viktory4121/MME/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [1]:
library(datasets)
data <- iris
head(data)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#2

In [2]:
index <- sample(1:nrow(data), nrow(data) * 0.8) 
test <- data[-c(index), ]
train <- data[index, ]

In [3]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
print("Кол-во строк в тестовой выборке:")
print(nrow(test))
print("Кол-во столбцов в тестовой выборке:")
print(ncol(test))
print("Кол-во объектов в каждом классе тестовой выборки:")
print(test %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(test$Species))
print("Кол-во пропущенных значений в тестовой выборке:")
print(sum(test == NA))
print("Характеристика тестовой выборки:")
print(summary(test[,1:4], na.rm=TRUE))

[1] "Кол-во строк в тестовой выборке:"
[1] 30
[1] "Кол-во столбцов в тестовой выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе тестовой выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa        10
2 versicolor    11
3 virginica      9
[1] "или"
    setosa versicolor  virginica
        10         11          9
[1] "Кол-во пропущенных значений в тестовой выборке:"
[1] NA
[1] "Характеристика тестовой выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.500   Min.   :2.000   Min.   :1.300   Min.   :0.100
 1st Qu.:5.000   1st Qu.:2.725   1st Qu.:1.500   1st Qu.:0.300
 Median :5.700   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.743   Mean   :2.983   Mean   :3.723   Mean   :1.163
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:4.975   3rd Qu.:1.800
 Max.   :7.400   Max.   :3.700   Max.   :6.100   Max.   :2.500

In [5]:
print("Кол-во строк в обучающей выборке:")
print(nrow(train))
print("Кол-во столбцов в обучающей выборке:")
print(ncol(train))
print("Кол-во объектов в каждом классе обучающей выборки:")
print(train %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(train$Species))
print("Кол-во пропущенных значений в обучающей выборке:")
print(sum(train == 'NA'))
print("Характеристика обучающей выборки:")
print(summary(train[,1:4], na.rm=TRUE))

[1] "Кол-во строк в обучающей выборке:"
[1] 120
[1] "Кол-во столбцов в обучающей выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе обучающей выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa        40
2 versicolor    39
3 virginica     41
[1] "или"
    setosa versicolor  virginica
        40         39         41
[1] "Кол-во пропущенных значений в обучающей выборке:"
[1] 0
[1] "Характеристика обучающей выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.200   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.868   Mean   :3.076   Mean   :3.767   Mean   :1.208
 3rd Qu.:6.400   3rd Qu.:3.325   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500

#3

In [9]:
#install.packages("e1071")
#install.packages("caret")
library(e1071)
library(caret)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

In [10]:
model <- naiveBayes(Species ~ ., data = train)
model

Naive Bayes Classifier for Discrete Predictors

Call:
naiveBayes.default(x = X, y = Y, laplace = laplace)

A-priori probabilities:
Y
    setosa versicolor  virginica
 0.3333333  0.3250000  0.3416667

Conditional probabilities:
            Sepal.Length
Y                [,1]      [,2]
  setosa     5.032500 0.3682164
  versicolor 5.943590 0.5235481
  virginica  6.612195 0.6697743

            Sepal.Width
Y                [,1]      [,2]
  setosa     3.460000 0.3726551
  versicolor 2.771795 0.2892356
  virginica  2.990244 0.3284851

            Petal.Length
Y                [,1]      [,2]
  setosa     1.465000 0.1874936
  versicolor 4.246154 0.4988651
  virginica  5.556098 0.5779484

            Petal.Width
Y                [,1]      [,2]
  setosa     0.252500 0.1085747
  versicolor 1.328205 0.1986119
  virginica  2.026829 0.2872494

#4

In [11]:
pr_train <- predict(model, train)
tab_train <- table(predict(model, train), train$Species)
print(pr_train)
print(tab_train)

  [1] versicolor versicolor versicolor virginica  virginica  virginica
  [7] versicolor setosa     versicolor setosa     versicolor setosa
 [13] versicolor versicolor setosa     virginica  setosa     setosa
 [19] versicolor virginica  virginica  setosa     versicolor versicolor
 [25] setosa     versicolor virginica  setosa     virginica  versicolor
 [31] virginica  virginica  virginica  versicolor setosa     versicolor
 [37] setosa     setosa     versicolor versicolor setosa     virginica
 [43] versicolor virginica  virginica  virginica  setosa     setosa
 [49] versicolor setosa     versicolor setosa     setosa     versicolor
 [55] virginica  virginica  setosa     virginica  setosa     virginica
 [61] virginica  versicolor virginica  setosa     setosa     versicolor
 [67] setosa     virginica  virginica  virginica  setosa     versicolor
 [73] versicolor setosa     versicolor setosa     versicolor versicolor
 [79] setosa     virginica  versicolor versicolor virginica  setosa
 [85] virginica  virginica  setosa     virginica  setosa     setosa
 [91] setosa     versicolor virginica  versicolor setosa     setosa
 [97] versicolor setosa     virginica  virginica  versicolor versicolor
[103] virginica  versicolor versicolor virginica  versicolor virginica
[109] setosa     setosa     virginica  versicolor virginica  virginica
[115] versicolor setosa     setosa     virginica  setosa     virginica
Levels: setosa versicolor virginica

             setosa versicolor virginica
  setosa         40          0         0
  versicolor      0         36         4
  virginica       0          3        37

In [12]:
pr_test <- predict(model, test)
tab_test <- table(predict(model, test), test$Species)
print(pr_test)
print(tab_test)

 [1] setosa     setosa     setosa     setosa     setosa     setosa
 [7] setosa     setosa     setosa     setosa     versicolor versicolor
[13] versicolor versicolor versicolor versicolor versicolor versicolor
[19] versicolor versicolor versicolor virginica  virginica  virginica
[25] virginica  virginica  virginica  virginica  virginica  virginica
Levels: setosa versicolor virginica

             setosa versicolor virginica
  setosa         10          0         0
  versicolor      0         11         0
  virginica       0          0         9