<a href="https://colab.research.google.com/github/Viktory4121/MME/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [1]:
library(datasets)
data <- iris
head(data)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#2

In [2]:
index <- sample(1:nrow(data), nrow(data) * 0.8) 
test <- data[-c(index), ]
train <- data[index, ]

In [3]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
print("Кол-во строк в тестовой выборке:")
print(nrow(test))
print("Кол-во столбцов в тестовой выборке:")
print(ncol(test))
print("Кол-во объектов в каждом классе тестовой выборки:")
print(test %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(test$Species))
print("Кол-во пропущенных значений в тестовой выборке:")
print(sum(test == NA))
print("Характеристика тестовой выборки:")
print(summary(test[,1:4], na.rm=TRUE))

[1] "Кол-во строк в тестовой выборке:"
[1] 30
[1] "Кол-во столбцов в тестовой выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе тестовой выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa         5
2 versicolor    12
3 virginica     13
[1] "или"
    setosa versicolor  virginica
         5         12         13
[1] "Кол-во пропущенных значений в тестовой выборке:"
[1] NA
[1] "Характеристика тестовой выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.100   Min.   :0.100
 1st Qu.:5.500   1st Qu.:2.725   1st Qu.:3.925   1st Qu.:1.125
 Median :6.100   Median :3.000   Median :4.800   Median :1.500
 Mean   :6.010   Mean   :2.953   Mean   :4.227   Mean   :1.433
 3rd Qu.:6.475   3rd Qu.:3.200   3rd Qu.:5.175   3rd Qu.:1.800
 Max.   :7.700   Max.   :3.900   Max.   :6.100   Max.   :2.300

In [5]:
print("Кол-во строк в обучающей выборке:")
print(nrow(train))
print("Кол-во столбцов в обучающей выборке:")
print(ncol(train))
print("Кол-во объектов в каждом классе обучающей выборки:")
print(train %>% group_by(Species) %>% summarize(count = n()))
print("или")
print(summary(train$Species))
print("Кол-во пропущенных значений в обучающей выборке:")
print(sum(train == 'NA'))
print("Характеристика обучающей выборки:")
print(summary(train[,1:4], na.rm=TRUE))

[1] "Кол-во строк в обучающей выборке:"
[1] 120
[1] "Кол-во столбцов в обучающей выборке:"
[1] 5
[1] "Кол-во объектов в каждом классе обучающей выборки:"
# A tibble: 3 × 2
  Species    count
  <fct>      <int>
1 setosa        45
2 versicolor    38
3 virginica     37
[1] "или"
    setosa versicolor  virginica
        45         38         37
[1] "Кол-во пропущенных значений в обучающей выборке:"
[1] 0
[1] "Характеристика обучающей выборки:"
  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.400   Min.   :2.200   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.500   1st Qu.:0.275
 Median :5.700   Median :3.000   Median :4.200   Median :1.300
 Mean   :5.802   Mean   :3.083   Mean   :3.641   Mean   :1.141
 3rd Qu.:6.400   3rd Qu.:3.400   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500

#3

In [10]:
library(e1071)
library(caret)

ERROR: ignored

In [7]:
model <- naiveBayes(Species ~ ., data = train)
model

ERROR: ignored

#4

In [8]:
pr_train <- predict(model, train)
tab_train <- table(predict(model, train), train$Species)
print(pr_train)
print(tab_train)

ERROR: ignored

In [9]:
pr_test <- predict(model, test)
tab_test <- table(predict(model, test), test$Species)
print(pr_test)
print(tab_test)

ERROR: ignored